# Book settings
# Learn more at https://jupyterbook.org/customize/config.html

title: Fish-PACE Hackweek 2025
author: content EE Holmes, template UW/eScience Institute
logo: logo.png
only_build_toc_files: false

parse:
  # https://jupyterbook.org/content/content-blocks.html?highlight=myst%20substitution#define-substitutions-for-your-whole-book
  # https://jupyterbook.org/content/content-blocks.html#using-substitutions-in-links
  myst_substitutions:
    hackweek: "Fish-PACE Hackweek"
    dates: "Oct 20 to 24, 2025"
    github_org_url: "https://github.com/fish-pace"
    book_repo: "hackweek-2025"
    website_url: "https://fish-pace.github.io/hackweek-2025/"
    jupyterhub_url: "https://nmfs-openscapes.2i2c.cloud"
    slack_workspace_url: "https://fish-pace.slack.com/"
    contact_email: "eeholmes@uw.edu"
    anon_reporting_url: ""
    project_spreadsheet_url: "https://fish-pace.github.io/hackweek-2025/projects/list_of_projects.md"
    l0: "<span style='color:#bbb'>{fas}`eye`</span>"
    l1: "{fas}`eye;sd-text-primary`"
    d0: "<span style='color:#bbb'>{fas}`download`</span>"
    d1: "{fas}`download;sd-text-primary`"
    v0: "<span style='color:#bbb'>{fab}`youtube`</span>"
    v1: "{fab}`youtube;sd-text-primary`"
    c0: "<span style='color:#bbb'>{fab}`google`</span>"
    c1: "{fab}`google;sd-text-primary`"
  myst_enable_extensions:
    # Defaults
    - dollarmath
    - linkify
    - substitution
    - colon_fence
    # Extras
    - html_image
  myst_url_schemes:
    https: null
    http: null
    mailto: null
    nb: /hackweek-2025/_sources/presentations/notebooks/{{path}}

# See https://jupyterbook.org/content/execute.html
execute:
  # NOTE: 'cache' to use jupyter-cache, or 'force' to run all
  execute_notebooks: off
  exclude_patterns:
    - "**/*.ipynb"
  allow_errors: true
  # Per-cell notebook execution limit (seconds)
  timeout: 300
  
# Define the name of the latex output file for PDF builds
latex:
  latex_documents:
    targetname: book.tex

# Information about where the book exists on the web
repository:
  url: "https://github.com/fish-pace/hackweek-2025" # Online location of your book
  path_to_book: book  # Optional path to your book, relative to the repository root
  branch: main  # Which branch of the repository should be used when creating links (optional)

# Bibliography
bibtex_bibfiles:
  - references.bib
sphinx:
  config:
    bibtex_reference_style: author_year  # or label, super, \supercite
    nb_merge_streams: true # stdout lines combined in output
    nb_custom_formats:
      .ipynb:
        - nbformat.reads
        - as_version: 4
        - false # setting to `true` breaks math for some reason, `false` uses MyST instead of Commmonmark

# Add GitHub buttons to your book
# See https://jupyterbook.org/customize/config.html#add-a-link-to-your-repository
html:
  use_edit_page_button: true
  use_issues_button: true
  use_repository_button: true
  favicon: "img/favicon-16x16.png"
  # google_analytics_id: G-XXXXXXXXX
